/****** Elad Shechter's RESET *******/
*,
*::before,
*::after { box-sizing:border-box; }
a { text-decoration:none; color:inherit; cursor:pointer; }
button { background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer; }
figure{ margin:0; }
ul, ol, dd { margin:0; padding:0; list-style:none; }
h1, h2, h3, h4, h5, h6 { margin:0; font-size:inherit; font-weight:inherit; }
p { margin:0; }
cite { font-style:normal; }
fieldset { border-width:0; padding:0; margin:0; }

/* Set Base Styles */ 
@font-face {
    font-family: "Roboto";
    src: url("/Roboto-Regular.ttf");
}

* {
    font-family: 'Roboto';
}

body {
    background-color: #e2e2e2;
}


/* Basic Drop Down */
.dropbtn {
    background-color: #FFFFFF;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10em;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    z-index: 1;

    border: 0;
    border-radius: .5rem;

    left: 50%;
    transform: translate(-50%, 0%);
}

/* Links inside the dropdown */
.dropdown-content a {
    border: 0;
    border-radius: .5rem;

    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgb(249,250,251);
}

.dropbtn:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.dropbtn:focus-visible {
    box-shadow: none;
}


/* Groups */

#groups-container {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
#groups-container #groups-button {
    width: 100%;
}










/* Devices Flex */
#devices-container {
    background-color: blueviolet;
}

#devices-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#devices-list > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
  }